<section class="bg-zinc-900 p-20 rounded-xl my-4 text-center">
    <h2 class="text-5xl font-bold my-5">About Us</h2>
    <p class="text-zinc-300">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio libero placeat modi debitis nobis distinctio officiis praesentium sint rerum quibusdam blanditiis nihil, cumque possimus assumenda laudantium aperiam, nisi aliquid vel!</p>
</section>