---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Acerca del sitio">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ab doloribus mollitia quo similique eveniet error et aperiam quam aliquid cumque, temporibus quis eos consequatur exercitationem tempora deleniti suscipit est possimus praesentium? Odio sunt eos in delectus ex quam quia pariatur ea possimus dolorum repudiandae accusantium error, omnis minima assumenda illo voluptas nam quae officia sint ab qui at? Ullam, sit vel cupiditate repellat repellendus veniam est velit laudantium amet hic, aut nemo id tenetur sunt. Voluptatibus voluptas non repellat assumenda tempore molestiae sunt consectetur id vero tempora, impedit eos facere ipsum sequi. Maiores exercitationem cupiditate dolores voluptatum, dolore eius.</p>
</Layout>